.jumbotron {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.button {
  background-color: #009933; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.start {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

.btn-primary {
  margin-top: 25px;
  margin-bottom: 30px;
}
ul {
  display: inline-block;
  text-align:left;
}

/* .jumbotron {
  padding: 60px;
  text-align: center;
  background: #959ca8;
  color: white;
  margin-top: 25px;
  margin-bottom: 50px; */
}

/* #result1, #result2, #result3{
  display: none
} */
